@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,400&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Nunito', sans-serif;
}

#container{
    height: 1200px;
    width: 100%;
    background-color: rgb(84,100,94);
}

#navegacion{
    height: 5%;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
}

#logo{
    height: 100%;
    width: 14%;
    background-color: rgba(29,42,82,255);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#logo img{
    height: 100%;
    width: 50%;
    
}

#home{
    height: 100%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    
}

.btnhomesport{
    background-color: #D9D9D9;
    width: 50%;
    height: 40%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.btnhomesport:hover{
    background-color: rgba(29,42,82,255);
    
}

.btnhomesport a:hover{
    color: white;
}

.btnhomesport a{
    text-decoration: none;
    color: black;
}

.resultados{
    height: 100%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    background-color: #D9D9D9;
}


#futbol-nacional{
    height: 100%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    background-color: #D9D9D9;
}

.boton-futbol{
    background-color: #D9D9D9;
    width: 80%;
    height: 40%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.boton-futbol:hover{
    background-color: rgba(29,42,82,255);
}

.boton-futbol a:hover{
    color: white;
}

.boton-futbol a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}



#futbol-internacional{
    height: 100%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

#E-sports{
    height: 100%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

#contacto{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.btncontact{
    background-color: rgba(29,42,82,255);
    border-radius: 40px;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.btncontact:hover{
    background-color: rgb(6, 29, 135);
    
}

.btncontact a:hover{
    color: rgb(255, 255, 255);
}

.btncontact a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cuerpo{
    background-color: rgb(84,100,94);
    height: 95%;
    width: 100%;
    display: flex;
}
