@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

h1 {
    color: red;

}
.row {
    display: flex;
    width: 100%;
    list-style: none;
    background-color: #001d66;


}


.col {
    flex: 50%;
    flex-direction: column;
}

.col30 {
    background-color: var(--primary-color);
    width: 14%;
    height: 218px;
    right: 40px;

}

.col50 {
    background-color: var(--primary-color);
    width: 100%;
    height: 400px;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 20px;

}

.col20 {
    background-color: var(--primary-color);
    width: 100%;
    height: 400px;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.container {
    display: flex;
    background-color: var(--primary-color);
}



.blog {
    width: 100%;
    /* height: ; */
    padding: 7px;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    height: 141px;
    display: flex;
    align-items: center;


}

hr{
    margin-top: 0;
}

.marcador {
    width: 100%;
    min-height: 100px;
    background-color: rgb(246, 242, 242);
    margin: 40px;

}



.barra2 {
    background-color: #D9D9D9;
    height: 70px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box;

}


.btm {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(227, 193, 0);
    color: rgb(250, 250, 250);
    height: 3.125rem;
    border-radius: 15px;
    border-color:transparent;
    margin-right: .9375rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btm:hover {
    background-color:white;
    color: rgb(227, 193, 0);
    transform: scale(1.1);
}

ul.row {
    display: flex;
    justify-content: space-around;
    background-color: #D9D9D9;
    font-size: large;

}


.main-bar {
    display: flex;
    height: 150px;
    /* flex-direction: row; */
    /* background-color: green; */
    width: 100%;

}

.main-bar .logo {
    display: flex;
    flex-direction: column;
    width: 15%;

}

.main-bar__right {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 85%;
}

.main-bar__social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: brown; */
    background-color: var(--secondary-color);
    height: 50px;
    background-color: #D9D9D9;
}

.main-bar__social a {
    background-color: #00000024;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all .1s;
}

.main-bar__social a:hover {
    cursor: pointer;
    background-color: #00000058;
    scale: 1.1;

}

.main-bar__user {
    display: flex;
    flex-direction: row;
    background-color: #001d66;
    height: 6.25rem;
    align-items: center;
    justify-content: flex-end;

}

.home {
    margin-left: 12px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 450px;
}


hr {
    height: 1px;
   
}


.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.526);
    z-index: 1;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;

}

.modal-contet {
    width: 600px;
    height: 500px;
    background-color: rgba(244, 244, 248, 0.814);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;


}

.modal-show {
    display: flex;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: transparent;
    padding: 20px;
    border-color: transparent;
    cursor: pointer;
    transition: all .3s;
}
.modal-close:hover{
    background-color: yellow;
    color: steelblue;
}

.caja-resultados{
    background-image: url("img/estadio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0 -654px; */
   
    padding: 30px;
    width: 100%;
}

.t-resultados{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: var(--shadow);
}

.t-2resultados{
    color: rgb(239, 239, 34);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: var(--shadow);

}

.bandera{
    width: 50px;
}

.contect-resultado{
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: linear-gradient(90deg, rgba(60,60,62,1) 0%, rgb(101, 145, 183) 25%, rgba(12,10,134,1) 87%);
    filter: opacity(0.9);
    border-radius: 6px;
}

.nombre-equipo{
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
    margin: 0px;  
}

.resultado-equipo{
    font-family: 'Mochiy Pop One', sans-serif;
    color:rgb(239, 239, 34) ; 
    margin: 0px;  
}

.separador{
    color:rgb(239, 239, 34) ;   
    font-size: 30px;  
    margin: 0px;  
}
